#admin-deck-container {
  clear:both;
  background:#222222;
  color:#999999;
  padding-bottom:5px;
}

#admin-deck-container #admin-deck {
  border-bottom: 1px solid #1D1D1D;
  margin-bottom:-1px;
}

#admin-deck-container .admin-deck-icon {
  margin-right:5px;
}

#admin-deck-container .admin-deck-handle {
  background-image:url(../images/button-bg.gif);
  height:23px;
  width:90px;
  color:#ffffff;
  padding: 5px 5px 0 5px;
  text-align:center;
  border-left:1px solid #2a2a2a;
  border-right:1px solid #2a2a2a;
  margin-left:10px;
  font-size:1em;
}

#admin-deck-container .admin-deck-handle a,
#admin-deck-container .admin-deck-handle a:visited,
#admin-deck-container .admin-deck-handle a:active {
  color:#ffffff;
  text-decoration:none;
}