#admin-deck-container #palette .item-selected {
  background-color:#333333;
}

#admin-deck-container #palette label {
  font-size:.85em;
  font-weight:normal;
}

#admin-deck-container #ctools_stylizer_color_scheme_form {
  width: auto;
  border:0;
  border-right: 1px dashed #4a4a4a;
}

#admin-deck-container #placeholder {
  margin:0;
  float:left;
}

#admin-deck-container #palette {
  float:left;
}

#admin-deck-container fieldset legend {
  font-variant:small-caps;
  font-size:1.2em;
  padding:1em 0 0 1em;
}